.title {
    color: white;
}
.info {
    border: 3px;
    border-color: gray;
    border-style: inset;
    border-radius: 50px;
    color: white;
    padding: 0.5em;
    margin: 0.3em;
    background-color: rgba(51, 51, 51, 0.7);
}
.space-bottom {
    bottom: 0em;
}