body {
    background-color: #222222;
  }
  p {
    color: darkorange;
    font-size: 20px;
  }
  
  h1 {
    color: rgb(145,50,195);
    font-family: cursive;
    margin: 100px;
  }
  
  h2 {
    color: rgb(155,55,170);
    font-family: fantasy
    
  }
  
  h3 {
    color: deepskyblue;
    font-family: serif;
  }
  
  .linksout {
    width: 100px;
    height: 100px;
  }
  
  .me {
    border-style: groove;
    border-color: blueviolet;
    border-radius: 10px;
  }
  
  .listbackgroudaccomplishments {
    background-color: #222233;
    width: 410px;
  }
  
  .listbackgroundhobbies {
    background-color: #222233;
    width: 125px;
  }
  
  .digitalphotos {
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    width:256px;
    height: 256px;
  }
  
  .landscape {
      border-style: solid;
      border-color: purple;
      border-radius: 10px;
      width: 50%;
      height: 50%;
  }
  
  .portrait {
      border-style: solid;
      border-color: purple;
      border-radius: 10px;
      width: 50%;
      height: 50%;
  }
  
  .linkslistbackgroud {
    background-color: #222233;
    width: 130px;
  }
  
  .hidden {
    color: #222222
  }
  
  .centermain {
      max-width: 1000px;
      margin: auto;
  }
  
  .centerincenter {
      max-width: 500px;
      margin: auto;
  }
  
  .videosbackground {
      background-color: #222233;
  }
  
  .themeplaypause {
      background-color: transparent;
      border-color: transparent;
      width: 40px;
      height: 40px;
      position: fixed;
      top: 20px;
      left: 30px;
  }
  
  .social {
      width: 20px;
      height: 20px;
  }