/*Specifice Things For Buttons, Text, Images Ect.*/
.themeplaypause {
    background-color: transparent;
    border-color: transparent;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 30px;
}
.copyright {
    color: darkgray;
    text-decoration: none;
}
.copyrighted {
    color: darkgray;
    text-decoration: none;
}
.copyrighted:hover {
    color: lightgray;
    text-decoration: underline;
}

/*Text Colours & Boarders*/
.primary-title {
    color: purple;
    font-size: 80px;
}
.secondary-title {
    color: violet;
    font-size: 50px;
}

/*Page Layouts*/
.container {
    min-width:992px!important;
    background-image: url(/assets/images/backgrounds/404.png);
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 100px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.text-center {
    text-align:center!important;
}