/*Specifice Things For Buttons, Text, Images Ect.*/
.themeplaypause {
    background-color: transparent;
    border-color: transparent;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 30px;
}
.copyright {
    color: darkgray;
    text-decoration: none;
}
.copyrighted {
    color: darkgray;
    text-decoration: none;
}
.copyrighted:hover {
    color: lightgray;
    text-decoration: underline;
}
.follow-me {
  border-style: groove;
  border-color: blueviolet;
  border-radius: 10px;
  width: 30%;
  height: auto;
}
.landscape {
    width: 45%;
    height: auto;
}
.portrait {
    height: 45%;
    width: auto;
}
.links-out {
    width: 50%;
    height: auto;
}
.download {
    color: aquamarine;
    font-size: large;
    text-decoration: none;
}
.fixed-size {
    width: 500px;
    height: auto;
}
.landscapes {
    width: 45%;
    height: auto;
    border-radius: 10px;
    border-style: groove;
    border-color: #222222;
}
.portraits {
    width: 30%;
    height: auto;
    border-radius: 10px;
    border-style: groove;
    border-color: #222222;
}
.nodecoration {
    text-decoration: none;
}
.landscaped {
    width: 25%;
    height: auto;
    border-radius: 10px;
    border-style: groove;
    border-color: #222222;
}
.linktrails {
    color: lightgray;
    text-decoration: none;
}
.linktrail {
    color: lightgray;
    text-decoration: none;
}
.linktrail:hover {
    color: gray;
    text-decoration: underline;
}
.ep:hover {
    width: 75%;
    height: auto;
}
.linksout {
    color: slateblue;
    text-decoration: none;
}
.linksout:hover {
    color: darkslateblue;
    text-decoration: underline;
}
.landscaped2 {
    width: auto;
    height: 25%;
    border-radius: 10px;
    border-style: groove;
    border-color: #222222;
}

/*Text Colours & Boarders*/
.primary-title {
    color: purple;
}
.secondary-title {
    color: violet;
}
.tertiary-title {
    color: mediumpurple;
}
.info {
    border: 3px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 50px;
    color: rgba(165, 112, 218, 50);
    padding: 10px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(51, 51, 51, 0.7);
    text-decoration: none;
}
.links {
    margin-right: 50px;
    margin-left: 50px;
    text-decoration: none;
}
.ats {
    color: gold;
    text-decoration: none;
}

/*Page Layouts*/
.container {
    min-width:992px!important;
    background-image: url(/assets/images/backgrounds/main.png);
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 100px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.text-center {
    text-align:center!important;
}